.heigth{
    height: 600px;
}

.alive h4, .alive i{
    color: green;
}

.dead h4, .dead i{
    color: red;
}

.unknown h4, .unknown i{
    color: gray;
}
.disabled{
  background-color: #212121;
  color: white;
}
