<div class="container m-auto text-center h-full flex flex-col items-center justify-center mb-36">

    <div class="flex flex-row items-center justify-center">
        <h1 class="text-5xl font-bold my-10 text-center">Error <span class="color-verde">404</span> - Portal Not Found</h1>
        <img class="w-32 h-32" src="../../../assets/img/portal.png" alt="Portal">
    </div>

    <div class="lost-image relative rounded-lg">
        <p class="text-white text-4xl font-bold px-3">Morty we're lost!!</p>
    </div>
</div>
