.lost-image{
    max-width: 1024px;
    width: 100%;
    height: 570px;
    background-image: url(../../../assets/img/error.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.lost-image p {
    position: absolute;
    top: 5%;
    right: 10%;
    color: black;
    background-color: white;
    border-radius: 10px;
}