.color-light-blue{
    color: #bce7fc;
}

.border-green{
    border-color: #3E7A19;
}

.border-light-green{
    border-color: #2add97;
}

.color-green{
    color: #3E7A19;
}

.color-light-green{
    color: #2add97;
}

.bg-blu{
    background-color: #bce7fc;
}

.bg-li-gr{
    background-color: #2add97;
}

.bg-gr{
    background-color: #3E7A19;
}

.bg-bl{
    background-color: #212121;
}

.bg-ye{
    background-color: #f9f575;
}

.color-yellow{
    color: #f9f575;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
